name: Flask CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Unit Tests
      run: python -m unittest discover -s . -p "test_*.py"

  docker-build:
    runs-on: ubuntu-latest
    needs: build-test

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Build Docker Image
      run: docker build -t flask-products-app:latest .

    - name: Run Container
      run: docker run -d -p 5000:5000 --name flask-products-app flask-products-app

    - name: Wait for app to start
      run: sleep 10

    - name: Health Check
      run: |
        curl --fail http://localhost:5000 || (docker logs flask-products-app && exit 1)

    - name: Stop Container
      if: always()
      run: docker stop flask-products-app
